
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #efefbd;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    text-align: center;
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}